n8n/workflows/chat-searxng-ollama.json
{
  "name": "chat-searxng-ollama",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        288,
        0
      ],
      "id": "abbbd526-7592-43af-a3f2-4d0e58d1b6c6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "numResults": 20,
          "pageNumber": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolSearXng",
      "typeVersion": 1,
      "position": [
        512,
        224
      ],
      "id": "4a7122cb-0132-4425-905d-5c947aedcbcc",
      "name": "SearXNG",
      "credentials": {
        "searXngApi": {
          "id": "Bw09RPTTWXxagGNl",
          "name": "SearXNG account"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        688,
        0
      ],
      "id": "c4e0de15-6186-40b2-ae03-c33850554b09",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e9973ceb-fdb6-49b3-b1f8-770f50123637",
      "name": "chat message",
      "webhookId": "7214d39b-a90f-4dda-bb3e-ad97d0ff9fc0"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        368,
        224
      ],
      "id": "7bc5ebd4-fac3-4289-b4e8-c4cb184ef4b7",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "tbBB6LRz9uuylma7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        192,
        224
      ],
      "id": "3e7ca13c-f71b-4a63-9783-e2ca8686135c",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "YSRVmrylPRMa82jk",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "SearXNG": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chat message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1268c26a-4c1e-4142-9734-380a7c9e2aab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "678267231632980cf6576daa95fa942d50a883c648a3d1b48f508dba8d84321e"
  },
  "id": "uQrUKZUsV0qYnwEF",
  "tags": []
}