n8n/workflows/searxng-ollama-chat.json
{
  "name": "searxng-ollama-chat",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -96,
        -96
      ],
      "id": "7206b8e8-ce8c-4ecd-996e-766015b5544a",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -48,
        112
      ],
      "id": "3def8db6-1548-4e7c-8703-65fc09fb2d67",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {
          "numResults": 20,
          "pageNumber": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolSearXng",
      "typeVersion": 1,
      "position": [
        128,
        112
      ],
      "id": "be34bb5a-92e0-4002-a461-d96ef87b259d",
      "name": "SearXNG",
      "credentials": {
        "searXngApi": {
          "id": "3j58B895D4mC7i1t",
          "name": "SearXNG account"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        320,
        -96
      ],
      "id": "d4fcf608-5c75-4b08-9c84-d0333237d678",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -368,
        -96
      ],
      "id": "a0c3bf2c-bcc7-44e7-bed5-3ab621aee8b6",
      "name": "chat message",
      "webhookId": "ab0f8575-28f2-4fba-aec0-3de60d7fffb6"
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -240,
        112
      ],
      "id": "b9b25cb6-8572-478b-bf88-91c11f46f7eb",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "svLeeHxH9c9DdhZV",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SearXNG": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chat message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b3d25eca-8ade-4219-b9b2-b52eff77e58f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f5f19f3a1851293801abceb688997c09f46ac20746fee141548f02c452c2105"
  },
  "id": "IL4HJqCMQLLoqgyo",
  "tags": []
}