n8n/workflows/searxng-chat-gemini.json
{
  "name": "searxng-chat-gemini",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -80,
        -96
      ],
      "id": "1ba630a2-c764-434e-9b72-b31ca6a54e0c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        128
      ],
      "id": "c7f07e92-e20e-45bf-ba0b-ebe7a12953d9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TOjrSUDwcdx8wf7N",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        0,
        128
      ],
      "id": "e0af1876-c12a-46d9-95d7-b2631625b31e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {
          "numResults": 20,
          "pageNumber": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolSearXng",
      "typeVersion": 1,
      "position": [
        144,
        128
      ],
      "id": "28252a5d-248f-4907-84a1-4db75c0da4d7",
      "name": "SearXNG",
      "credentials": {
        "searXngApi": {
          "id": "3j58B895D4mC7i1t",
          "name": "SearXNG account"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        320,
        -96
      ],
      "id": "c0e64433-c0e5-4e8d-b54e-507c738c7849",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -368,
        -96
      ],
      "id": "eeb6097b-3a96-4fe3-a4e5-6015e67941df",
      "name": "chat message",
      "webhookId": "300466be-fc36-45e8-8d2e-54b0babe1a0d"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SearXNG": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chat message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4a2755f0-66e2-4d61-8a9d-66875b81c9cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f5f19f3a1851293801abceb688997c09f46ac20746fee141548f02c452c2105"
  },
  "id": "n6xJwRq9JTVkVt8k",
  "tags": []
}